.popinfo {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
  }

.outerbox {
    position: absolute;
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.topbox{
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-bottom: 1px solid black;
    background-image: url('./../img/bg3.jpg');
    background-color: white;
    background-position: top;
    background-size: cover;
	background-repeat: no-repeat;
    margin-top: 10rem;
    margin-left: 20rem;
    margin-right: 20rem;
    font-size: 2vw;
    font-weight: 100;
    text-align: center;
    background-color: rgba(255,255,255, 0.9);
    color:rgb(1,1,1);
    border-radius: 5px;

}


.middlebox{
    background-image: url('./../img/bg4.jpg');
    background-position: bottom;
    background-size: cover;
	background-repeat: no-repeat;
    opacity: 90%;
    position: relative;
    min-height: 15rem;
    padding: 2rem;
    margin-left: 20rem;
    margin-right: 20rem;
    font-size: 1.5vw;
    font-weight: 100;
    color: white;
    box-shadow:
	0 2.8px 2.2px rgba(0, 0, 0, 0.024),
	0 6.7px 5.3px rgba(0, 0, 0, 0.048),
	0 12.5px 10px rgba(0, 0, 0, 0.06),
	0 22.3px 17.9px rgba(0, 0, 0, 0.072),
	0 41.8px 33.4px rgba(0, 0, 0, 0.086),
	0 100px 80px rgba(0, 0, 0, 0.12)
	;
}

.bottombox{
    display: flex;
    border-top: 1px solid black;
    background-image: url('./../img/bg4.jpg');
    background-color: white;
    background-position: center;
    background-size: cover;
	background-repeat: no-repeat;
    position: relative;
    margin-left: 20rem;
    margin-right: 20rem;
    justify-content: center;
    color: white;
    opacity: 90%;
    border-radius: 5px;
    box-shadow:
	0 2.8px 2.2px rgba(0, 0, 0, 0.024),
	0 6.7px 5.3px rgba(0, 0, 0, 0.048),
	0 12.5px 10px rgba(0, 0, 0, 0.06),
	0 22.3px 17.9px rgba(0, 0, 0, 0.072),
	0 41.8px 33.4px rgba(0, 0, 0, 0.086),
	0 100px 80px rgba(0, 0, 0, 0.12)
	;
}

.fa-linkedin-square{
    cursor: pointer;
    margin: 1rem;
}

.fa-github{
    cursor: pointer;
    margin: 1rem;
}

@media screen and (max-width: 576px) {
    .topbox{
        margin-left: 15vw;
        margin-right: 15vw;
        font-size: 4vw;
        padding: 4vw;
    }

    .middlebox{
        margin-left: 15vw;
        margin-right: 15vw;
        min-height: 60vw;
        font-size: 3vw;
    }

    .bottombox{
        margin-left: 15vw;
        margin-right: 15vw;
        font-size: 3vw;
    }

    i {
        font-size:5vw !important;
    }
}